* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  color: white;
}

main {
  padding: 36px;
}

.church-worthship {
  margin: 0px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZ0bMYDDij6Mpbuvt6n8tDZBHQMQt2G5AhDCwgVRlbu88LmavndhtSdkl85hemJCMOeoM&usqp=CAU");
  padding: 20px;
  text-align: center;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input {
  margin: 30px 20px;
  background-color: #838d53;
  display: flex;
  justify-content: center;
  font-family: "Karla", sans-serif;
  border-radius: 10px;
  border: 2px solid #ffffff;
  text-indent: 5px;
  color: white;
  text-align: center;
}

.button-dis {
  grid-column: 1 / -1;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 50px;
  border-radius: 10px;
  background: white;
  color: white;
  border: none;
  cursor: pointer;
}
.form--button{
  margin-top: 50px;
  margin-bottom: 10px;
  color: #ffffff;
  background-color: #11365a;
  font-size: 25px;
  font-weight: 700;
  height: 60px;
  border-radius: 20px solid white;
}
.meme--image{
  margin: 20px 2px;
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content:flex-end;
}
/* Footer*/
.site-footer {
  padding: 8px 10px;
  background-color: #11365a;
  color: #ffffff;
  font-family: Garamond , sans-serif;
  font-size: 21px;
}
.site-footer a{
  padding: 8px 5px;
  background-color:#11365a;
  color: #ffffff;
  font-family: Garamond , sans-serif;
  font-size: 19px;
}
.footer-content{
  padding: 8px 5px;
  display: flex;
  justify-content:center;
  align-content:center;
}
.btn-social-icon{
  margin: 0px 5px;
  padding:2px;
  width:30px;
  height:30px;
}